<p id="notice"><%= notice %></p>

<h1>Clientes</h1>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Nome</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.id %></td>
      <td><%= customer.description %></td>
      <td><%= link_to 'Show', customer %></td>
      <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
      <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Tem certeza que deseja excluir este cliente?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subgroup', new_customer_path %>