<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @customer.description %>
</p>

<p>
  <strong>Fantasy Name:</strong>
  <%= @customer.fantasy_name %>
</p>

<p>
  <strong>Document:</strong>
  <%= @customer.document %>
</p>

<p>
  <strong>Another_Document:</strong>
  <%= @customer.another_document %>
</p>

<p>
  <strong>Zip_Code:</strong>
  <%= @customer.zip_code %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>Number:</strong>
  <%= @customer.number %>
</p>

<p>
  <strong>District:</strong>
  <%= @customer.district %>
</p>

<p>
  <strong>Complement:</strong>
  <%= @customer.complement %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong>Email</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Birth_Date</strong>
  <%= @customer.birth_date %>
</p>

<p>
  <strong>City:</strong>
  <%= @customer.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @customer.state %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>